.l-title {
  background-image: url(../img/sumidero_canyon.webp);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  padding: 180px 10px;
}

.l-smalltitle {
  background: #99cc33;
}
